.filter,
.filter-form {
    width: 100%;
    height: 100%;
}

.filter-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__name{ }

    &__date-picker{ }
}