<form [formGroup]="pessoaForm" (ngSubmit)="onClickEnviar()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" formControlName="nome">
    <span *ngIf="nome.hasError('required') && (nome.touched || nome.dirty)" style="color: red;"> Nome é obrigatório</span>

    <br>

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email">
    <span *ngIf="email.hasError('required') && (email.touched || email.dirty)" style="color: red;"> Email é obrigatório</span>

    <br>
    <button>Enviar</button>
</form>