<label for="name">Nome:</label>
<input type="text" id="name" [formControl]="nome" (input)="nomeAlterado()" />

<div style="color: red">
    <p *ngIf="nome.hasError('required')">O nome é obrigatorio</p>
    <p *ngIf="nome.hasError('minlength') && !nome.hasError('required')">O nome precisa ter pelo menos 3 letras</p>
    <p *ngIf="nome.hasError('maxlength') && !nome.hasError('required')">O nome precisa ter até menos 5 letras</p>
    <p 
        *ngIf="!nome.hasError('required') && !nome.hasError('minlength') && !nome.hasError('maxlength')"
        style="color: blue;"
    ><strong>Nome é:</strong> {{ nome.value }}</p>
</div>

<button (click)="onClickMostrarNomeControl()">Mostrar no Console</button><br />
<br />

<button (click)="onClickAlterarValor()">Alterar Valor</button><br>
<br>

<button (click)="desabilitar()">Desabilitar</button>
<button (click)="habilitar()">Habilitar</button>
