<label for="name">Nome: </label>
<input type="text" id="name" [formControl]="nome" class="form-control">

<div>
    <p *ngIf="nome.pending" style="color: orange">Validando...</p>
    <p *ngIf="!nome.pending && !nome.hasError('userValidator') && nome.valid && nome.dirty" style="color: green">Usuário existente</p>
    <div *ngIf="!nome.pending && nome.hasError('userValidator') && !nome.valid && nome.dirty" style="color: red">
        <p>Usuário inexistente</p>
        
        <label>Exemplo de usuario existente:</label>
        <ul>
            <li>Ervin Howell</li>
            <li>Leanne Graham</li>
        </ul>
        
    </div>

</div>