<h2 style="color: red;">Desafio - Add and Remove Control</h2>
<app-add-and-remove-control></app-add-and-remove-control>
<br>
<hr>

<h2>Exemplo - CrossValidator</h2>
<app-cross-validator></app-cross-validator>
<br>
<hr>

<h2>Exemplo - FormComChamadaHTTP</h2>
<app-form-com-chamada-http></app-form-com-chamada-http>
<br>
<hr>

<h2 style="color: red;">Desafio - Touched</h2>
<app-desafio-touched></app-desafio-touched>
<br>
<hr>

<h2>Exemplo - FormCompFilhos</h2>
<app-form-comp-filhos></app-form-comp-filhos>
<br>
<hr>

<h2>Exemplo - FormBuilder</h2>
<app-form-builder></app-form-builder>
<br>
<hr>

<h2>Exemplo - FormArray com Group</h2>
<app-form-array-com-group></app-form-array-com-group>
<br>
<hr>

<h2>Exemplo - FormArray</h2>
<app-form-array></app-form-array>
<br>
<hr>

<h2>Exemplo - FormGroup</h2>
<app-form-group></app-form-group>
<br>
<hr>

<h2>Exemplo de Validador Assincrono</h2>
<app-validador-assincrono></app-validador-assincrono>
<br>
<hr>

<h2>Exemplo de Form Control</h2>
<app-form-control></app-form-control>