html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green {
    background-color: rgb(120, 162, 120);
}

.red {
    background-color: rgb(173, 96, 96);
}

.orange {
    background-color: rgb(181, 141, 66);
}

.blue {
    background-color: rgb(42, 42, 168);
}

.p-2-10 {
    padding: 2px 10px;
}