html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-2-10 {
    padding: 2px 10px;
}

.bg-green {
    background-color: rgb(120, 162, 120);
}

.bg-red {
    background-color: rgb(173, 96, 96);
}

.bg-orange {
    background-color: rgb(181, 141, 66);
}

.bg-blue {
    background-color: rgb(76, 76, 242);
}

.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}