<!--
    O ngFormOptions é utilizado para configurar o comportamento do formulário, como por exemplo, quando as validações devem ser disparadas.

    ==> Existem três opções para o updateOn:
    1. [ngFormOptions]="{ updateOn: 'change'} // padrão, as validações são disparadas a cada mudança no campo
    2. [ngFormOptions]="{ updateOn: 'blur'} // as validações são disparadas quando o campo perde o foco
    3. [ngFormOptions]="{ updateOn: 'submit'} // as validações são disparadas apenas quando o formulário é submetido
-->

<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)" [ngFormOptions]="{ updateOn: 'change'} ">
    <input type="text" name="nome" [(ngModel)]="nome"> <br>
    <input type="text" name="descricao" [(ngModel)]="descricao"> <br>

    <select name="pais" id="pais" [(ngModel)]="pais">
        <option value="1">Brasil</option>
        <option value="2">Argentina</option>
        <option value="3">Chile</option>
    </select> 
    <br><br>

    <input type="radio" name="groupStatus" id="ativo" value="1" [(ngModel)]="radioButton">
    <label for="ativo">Ativo</label>

    <input type="radio" name="groupStatus" id="inativo" value="2" [(ngModel)]="radioButton">
    <label for="inativo">Inativo</label>
    <br>

    <input type="checkbox" name="condicao" id="condicao" [(ngModel)]="checkbox">
    <label for="condicao">Condição</label>
    <br>

    <button type="submit">Enviar</button>
    <button type="reset">Limpar</button>
</form>