<div class="card-container">
  <app-card
    [cardId]="1"
    [cardType]="cardTypeSimples"
    [cardColor]="cardColorRed"
    [cardValue]="50"
  ></app-card>
  <app-card
    [cardId]="2"
    [cardType]="cardTypeCompleto"
    [cardColor]="cardColorGreen"
    [cardValue]="100"
  ></app-card>
  <app-card
    [cardId]="3"
    [cardType]="cardTypePro"
    [cardColor]="cardColorBrown"
    [cardValue]="200"
  ></app-card>
  <app-card
    [cardId]="4"
    [cardType]="cardTypeAdvance"
    [cardColor]="cardColorYellow"
    [cardValue]="300"
  ></app-card>
</div>

<br>
<div class="form-container">
  <input
    type="text"
    placeholder="Informe valor para atualizar nome do plano 1"
    (keyup)="handleInputCardType1($event)"
  />
</div>
