<div class="card-container">
  <app-card
    [cardType]="cardTypeSimples"
    [cardColor]="cardColorRed"
    [cardValue]="50"
  ></app-card>
  <app-card
    [cardType]="cardTypeCompleto"
    [cardColor]="cardColorGreen"
    [cardValue]="100"
  ></app-card>
  <app-card
    [cardType]="cardTypePro"
    [cardColor]="cardColorBrown"
    [cardValue]="200"
  ></app-card>
  <app-card
    [cardType]="cardTypeAdvance"
    [cardColor]="cardColorYellow"
    [cardValue]="300"
  ></app-card>
</div>

{{ showCards() }}
